<div class="section no-paralax">
    <div class="container">
        <h2 class="section-title">All orders</h2>
        <div class="row">
            <table st-table="orders" class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>State</th>
                    <th>Dispatch date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderItem in orderItems">
                    <td>{{orderItem.order.id}}</td>
                    <td>{{orderItem.order.createdAt | date:'medium'}}</td>
                    <td>{{orderItem.order.state}}</td>
                    <td ng-if="orderItem.order.state == 'waiting'">N/A</td>
                    <td ng-if="orderItem.order.state != 'waiting'"> {{orderItem.order.dispatchDate | date:'medium'}} </td>
                    <td class="td-actions text-right">
                        <button ng-click="dispatchOrder(orderItem)" ng-show="orderItem.order.dispatchDate" type="button" rel="tooltip" title=""
                                class="btn btn-success btn-simple"
                                data-original-title="Dispatch">
                            <i class="fa fa-check"></i>
                        </button>
                        <button ng-click="seeDetails(orderItem)" type="button" rel="tooltip" title=""
                                class="btn btn-info btn-simple" data-original-title="View Details">
                            <i class="fa fa-info"></i>
                        </button>
                        <!-- <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs"
                                data-original-title="Remove">
                          <i class="fa fa-times"></i>
                        </button> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>