<nav class="navbar navbar-default navbar-fixed-top navbar-icons" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#"> Bookshelf</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="user && user.token" class="dropdown" dropdown on-toggle="toggled(open)">
                    <a href="#" class="dropdown-toggle" dropdown-toggle>

                        <i class="pe-7s-user"></i>

                        <p>My account</p>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li>
                            <a href="blog-page.html">
                                <i class="pe-7s-settings"></i> Account details
                            </a>
                        </li>
                        <li>
                            <a href="blog-post.html">
                                <i class="pe-7s-box2"></i> My orders
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="user && user.token" class="dropdown" dropdown on-toggle="toggled(open)">
                    <a href="#" class="dropdown-toggle" dropdown-toggle>
                        <i class="pe-7s-cart"></i><p>Basket</p>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li>
                            <a>
                                <img class="item-shopping-cart-thumbnail" src="http://ekit.co.uk/GalleryEntries/eCommerce_solutions_and_services/MedRes_Product-presentation-2.jpg?q=27012012153123"> Item 1
                            </a>
                        </li>
                        <li>
                            <a>
                                <img class="item-shopping-cart-thumbnail" src="http://ekit.co.uk/GalleryEntries/eCommerce_solutions_and_services/MedRes_Product-presentation-2.jpg?q=27012012153123"> Item 2
                            </a>
                        </li>
                        <button class="btn btn-primary">Checkout</button>
                    </ul>
                </li>
                <li ng-if="!user || !user.token">
                    <button ng-click="signin()" class="btn btn-round btn-default">Hello, sign in</button>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div class="wrapper" ui-view></div>