<nav class="navbar navbar-default navbar-fixed-top navbar-icons" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home"> Bookshelf</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="user && user.token && isCustomer" class="dropdown" dropdown on-toggle="toggled(open)">
                    <a href="#" class="dropdown-toggle" dropdown-toggle>

                        <i class="pe-7s-user"></i>

                        <p>My account</p>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li>
                            <a ui-sref="root.myOrders">
                                <i class="pe-7s-box2"></i> Orders
                            </a>
                        </li>
                        <li>
                            <a ng-click="logout()">
                                <i class="pe-7s-unlock"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="user && user.token && isCustomer">
                    <a ui-sref="root.checkout">
                        <i class="pe-7s-cart"></i><p>Basket</p>
                    </a>
                </li>
                <li ng-if="!user || !user.token">
                    <button ng-click="signin()" class="btn btn-round btn-default">Hello, sign in</button>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div class="wrapper" ui-view></div>