<div class="section no-paralax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">

                    <table class="table table-shopping">

                        <thead>

                        <tr>

                            <th class="text-center"></th>

                            <th>Title</th>

                            <th class="text-right">Unit price</th>

                            <th class="text-right">Qty</th>

                            <th class="text-right">Amount</th>

                            <th></th>

                            <th></th>

                        </tr>

                        </thead>

                        <tbody>

                        <tr ng-repeat="item in cartItems">

                            <td>

                                <div class="img-container">

                                    <img ng-src="{{item.getData().thumbnail}}" alt="...">

                                </div>

                            </td>

                            <td class="td-name">

                                {{item.getName()}}

                            </td>

                            <td class="td-number">

                                <small>&euro;</small>
                                {{item.getPrice()}}

                            </td>

                            <td class="td-number">

                                <small>x</small>
                                {{item.getQuantity()}}

                            </td>

                            <td class="td-number">

                                <small>&euro;</small>
                                {{item.getTotal()}}

                            </td>

                            <td>
                                <button class="btn btn-danger" ng-click="removeCartItem($index)">Remove</button>
                            </td>

                        </tr>

                        <tr>

                            <td colspan="2"></td>

                            <td></td>

                            <td class="td-total">

                                Total

                            </td>

                            <td class="td-price" style="font-size: 20px; width: 100px;">
                                {{ngCart.getSubTotal()}} &euro;
                            </td>

                            <td>
                                <button type="button" class="btn btn-info btn-fill btn-l" ng-click="checkout()">Complete Purchase <i
                                        class="fa fa-chevron-right"></i></button>
                            </td>


                            <td></td>

                        </tr>

                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>